
.colors{
animation-name: change-color; 
  animation-duration: 10s; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

/*:root{
  --primary:#00ffff !important
}*/

@keyframes change-color{
  0%{
    color: hsl(0, 0%, 100%) ;
  }
  50%{
    color: hsl(180, 100%, 50%) ;
  }

  100%{
    color: #007bff;
    }
}

.closedElement{
  display: none !important;
}

@media screen and (min-width: 576px) {
  .droptest {
      overflow: visible !important;
  }
}

